extends layout

block content
    h1 #{title}

    p #[strong Description:] #{food.description}
    p #[strong Food Group:] #{food.food_group.name}

    hr
    p
        a(href=food.url+'/update') Update Food
    p
        a(href=food.url+'/delete') Delete Food