extends layout

block content
    h1 #{title}

    p #[strong Address:] #{store.address}
    p #[strong Inventory:] 
        ul 
            each invFood in store.inventory 
                li 
                    a(href=invFood.url) #{invFood.name}  
            else 
                li There are no Items in Inventory 
    p #[strong Inventory Size:] #{store.inventory_size}
    p #[strong Manager:] #{store.manager}
    p #[strong Start Date:] #{store.start_date}
    p #[strong Store Age:] #{store.age}

    hr
    p
        a(href=store.url+'/update') Update Store
    p
        a(href=store.url+'/delete') Delete Store